In [1]:
import pandas as pd

In [2]:
churches = pd.read_csv('SEUD_parishes.csv')
churches.head()

,parish,address,city,state,zip,postal
0,Holy Name,3814 Nash Blvd,San Antonio,TX,78223,3499.0
1,Mission Concepcion,807 Mission Rd,San Antonio,TX,78210,NaN
2,Mission San Francisco de la Espada,10040 Espada Rd,San Antonio,TX,78214,NaN
3,Mission San Jose y San Miguel,701 E Pyron Ave,San Antonio,TX,78214,2762.0
4,Mission San Juan Capistrano,9101 Graf Rd,San Antonio,TX,78214,NaN

In [3]:
churches.dtypes

parish      object
address     object
city        object
state       object
zip          int64
postal     float64
dtype: object

In [4]:
churches.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13 entries, 0 to 12
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   parish   13 non-null     object
 1   address  13 non-null     object
 2   city     13 non-null     object
 3   state    13 non-null     object
 4   zip      13 non-null     int64
 5   postal   4 non-null      float64
dtypes: float64(1), int64(1), object(4)
memory usage: 752.0+ bytes